<div>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput type='text' [(ngModel)]="newTitle" name="title" value={{data.movie.title}}>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <input matInput type='text' [(ngModel)]="newType" name="type" value={{data.movie.type}}>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Duration </mat-label>
      <input matInput type='number' [(ngModel)]="newDuration" name="duration" value={{data.movie.duration}}>
    </mat-form-field>
  </form>
</div>

<button mat-raised-button color="accent" (click)="updateMovie()">Save</button>