<h1 mat-dialog-title>Add seance</h1>
<mat-dialog-content>
    <form class="flex" [formGroup]='form' (ngSubmit)='submit()'>
        <mat-form-field appearance="fill">
            <mat-label>Movie</mat-label>
            <mat-select formControlName="movie" name="movie">
                <mat-option *ngFor="let movie of movies" [value]="movie">
                    {{movie.title}}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="form.controls['movie'].invalid && (form.controls['movie'].dirty || form.controls['movie'].touched)">
                <mat-error class="text-danger" *ngIf="form.controls['movie'].hasError('required')">
                    Please choose movie
                </mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Room</mat-label>
            <mat-select formControlName="room" name="room">
                <mat-option *ngFor="let room of rooms" [value]="room">
                    {{room.number}}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="form.controls['room'].invalid && (form.controls['room'].dirty || form.controls['room'].touched)">
                <mat-error class="text-danger" *ngIf="form.controls['room'].hasError('required')">
                    Please choose room
                </mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput type="datetime-local" class="form-control" [min]="minDate" formControlName="date">
            <mat-error
                *ngIf="form.controls['date'].invalid && (form.controls['date'].dirty || form.controls['date'].touched)">
                <mat-error class="text-danger" *ngIf="form.controls['date'].hasError('required')">
                    Please choose date
                </mat-error>
            </mat-error>
        </mat-form-field>
        <mat-dialog-actions>
            <button mat-raised-button mat-dialog-close (click)="dialogRef.close()">Close</button>
            <button type="submit" (click)="dialogRef.close()" mat-raised-button color="primary">Add</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>