<div>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Number</mat-label>
        <input matInput type='number' [(ngModel)]="newNumber" name="number" value={{data.room.number}}>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Capacity</mat-label>
        <input matInput type='number' [(ngModel)]="newCapacity" name="capacity" value={{data.room.capacity}}>
      </mat-form-field>
    </form>
  </div>
  
  <button mat-raised-button color="accent" (click)="updateMovie()">Save</button>
